/*Page styling*/

h1 { /*The settings for the heading 1*/
color: seagreen;
font-family: Arial;
}

h2 { /*settings for heading 2*/
color: burlywood;
font-family: 'Times New Roman';
}

h3 { /*settings for heading 3*/
  color: darkgray;
font-family: Arial, Helvetica, sans-serif;
}
p { /*settings for the words in the paragraphs*/
color: brown;
font-family: Helvetica;
}

.text-centered { /*centered text for headings*/
  text-align: center;
}